<div class="col-md-3">
    {% if request.user.is_authenticated %}
        {% if my_recent_pastes %}
            <div class="card mb-2 mt-2">
                <div class="card-header blue-grey"> My Recent Pastes</div>
                <ul class="list-group list-group-flush">
                    {% for paste in my_recent_pastes %}
                        <li class="list-group-item">
                            <i class="fa fa-paste blue-grey-text small"></i>
                            {% if paste.expire_time %}
                                <i class="fa fa-clock-o text-warning small"></i>
                            {% endif %}
                            <a href="">{{ paste.title }}</a>
                            <p>
                                <small class="text-muted">
                                    <a href="">{{ paste.language }}</a>
                                    | <i class="fa fa-eye blue-grey-text"></i> {{ paste.views }}
                                    | {{ paste.created_at|timesince }}
                                </small>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    <div class="card paste_list">
        <div class="card-header blue-grey"> Recent Pastes</div>
        <ul class="list-group list-group-flush">
            {% if pastes.count %}
                {% for paste in pastes %}

                    <li class="list-group-item">
                        <i class="fa fa-paste blue-grey-text small"></i>
                        {% if paste.expire_time %}
                            <i class="fa fa-clock-o text-warning small"></i>
                        {% endif %}
                        <a href="">{{ paste.title }}</a>
                        <p>
                            <small class="text-muted">
                                <a href="">{{ paste.language }}</a>
                                | <i class="fa fa-eye blue-grey-text"></i> {{ paste.views }}
                                | {{ paste.created_at|timesince }}
                            </small>
                        </p>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item text-center">No results</li>
            {% endif %}
        </ul>
    </div>
</div>
